.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container > section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container section > img {
  width: 65%;
  min-width: 350px;
}

.splash {
  height: 50vh;
  justify-content: center;
  background-color: #f7f7ff;
}

.about {
  height: fit-content;
  background-color: #577399;
  justify-content: center;
}

.about header {
  margin: 0;
  padding: 5px 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
}

.about article {
  width: 60%;
  max-width: 200%;
}

.about article p {
  margin: 0;
  line-height: 30px;
  width: 100%;
  font-size: 17px;
}

.container section > header h3 {
  margin: 5px;
  font-size: 30px;
  letter-spacing: 3px;
  color: #f7f7ff;
  align-items: center;
}

.aboutP {
  text-align: justify;
  text-align-last: center;
}