.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container > p { 
  display: flex;
  width: 60%;
  padding: 0px 5px;
}

.container > img {
  width: 70px;
  margin-right: 12px;
  border-radius: 50%;
}